* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #e2e2e2;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    color: #e2e2e2;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #e2e2e2;
}

#buttom-link, form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#buttom-link a {
    text-decoration: none;
    font-size: 1.3em;
    color: #ebebeb;
    padding: 10px 20px;
    background-color: #2b2b2b;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#buttom-link a:hover {
    background-color: #726c6c;
    transform: scale(1.05);
}

table {
    width: 100%;
}

tr {
    border-bottom: 1px solid rgb(66, 66, 66);
}

td {
    padding-left: 50px;
    padding-right: 50px;
    
    padding-top: 30px;
    padding-bottom: 30px;
}

#tryItLink:hover {
    background-color: #726c6c;
    transform: scale(1.03);
}

/* LOGIN & POST  */
input {
    background-color: #464646;
    border: 1px solid #464646;
    color: #e2e2e2;
    border-radius: 5px;

    margin-top: 30px;
    margin-bottom: 30px;
}

input:hover {
    background-color: #666666;
    border: 1px solid #666666;
}

